{% extends 'base.html.twig' %}
{% block title %}ÜberBlog - {{document.titre }}{% endblock %}

{% block body %}

<!-- Banner -->
  <section id="banner">
    <header>
      <h2>{{document.titre}}</h2>
    </header>
    <p>
    {% autoescape false %}
      {{ document.contenu }}
    {% endautoescape %}
    </p>
    <footer>

      <p><a href="{{ path('article') }}">
          Retourner à la liste des articles
      </a></p>

      <p><a href="{{ path('article_edit', { 'id': document.id }) }}">
          Modifier l'article
      </a></p>
    </footer>
  </section>

{% endblock %}
